
<!DOCTYPE html>
<html>
    <head>
        <title>Travel Diary</title>
    </head>


    <body>
        {% if category %}

        <h1>{{ category_name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>

                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
            <a href="/beaches/category/{{ category_name_slug }}/add_page/">Add a Page</a><br />
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>
