{% extends 'base.html' %}



{% block body_block %}
        <h1>Welcome travel lovers </h1>
        <strong>visits:{{ visits }}</strong><br />
        {% if categories %}
           
          <ul>
            {% for category in categories %}
             <li><a href="/beaches/category/{{ category.slug }}">{{ category.name }}</a></li>
             <!--li><a href="{ % url 'category' category.slug %}">{{ category.name }}</a></li-->
            {% endfor %}
          </ul>
        {% else %}
          <strong> There are no categories present</strong>
         {% endif %}
         
         <strong>{{ boldmessage }}</strong><br />
{% endblock %}

